
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #0350f6;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
} 
html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logospan {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--main-color);
}
.logo{
    font-size: 3rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover, 
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
@media (max-width:995px){
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top:  0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    } 
    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius:  0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}
body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.sectionOne{
    height: 100%;
    display: flex;
    padding: 5%;
    padding-top: 10rem;
    font-size: 20px;
    /* background-image: url('../images/bgbg.png');
    background-position-x: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60%; */
    margin: 0 10%;
    background-color: rgba(5, 109, 246, 0.306);
    /* background: linear-gradient(to bottom right,rgba(5, 109, 246, 0.306), white, white, rgba(5, 109, 246, 0.306)); */

}
.sectionOne .classInfo{
    padding-left: 5rem;
}
.sectionTwo{
    border: 2px solid rgba(5, 109, 246, 0.306);
    height: 100vh;
    font-size: 20px ;
    display: flex;
    padding: 10% 5%;
    margin: 0 10%;
}
.sectionTwo .titleTwo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titleTwo {
    font-weight: 500;
    position: absolute;
    top: 110vh;
    left: 50%;
    transform: translateX(-50%); 
    background: linear-gradient(to right,
    rgb(0, 0, 0),
    rgb(0, 85, 255)
    );
    -webkit-background-clip: text;
    color: transparent;
}
.projectOne,.projectTwo,.projectThree {
    background-color: rgba(5, 109, 246, 0.306); 
    border-radius: 20px;
    height: 125%;
    border-radius: 5rem;
    padding: 3rem;
    margin: 1%;
    width: calc((100% - 4%) / 3);
    position: relative;
}
.projectThree .classPThree button, .projectOne .classPOne button,
.projectTwo .classPTwo button{
    position: absolute;
    bottom: 0; 
    margin-bottom: 3rem;
}
.projectOne p,.projectTwo p,.projectThree p {
    padding-top: 1rem;
    font-size: 18px ;
}

button{
    cursor: pointer;
    position: relative ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 180px;
    background: var(--text-color);
    border: 0.2rem solid var(--main-color);
    color: var(--main-color);
    border-radius: 25px 25px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.classInfo button{
    margin-top: 10%;
    width: 30%;
    padding: 15px;
}
button:hover{
    color: var(--bg-color);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    transform: scale(1.3)translate(-5px);
}
.girl{
   width: 50%;
   margin-right: 25%;
   padding-top: 2%;
}
.girl img{
    width: 300%;
    max-width: 300%;
}
.pOnePic img, .pTwoPic img, .pThreePic img{
    margin-bottom: 1rem;
    width: 100%;
    height: 200px;
}
.classInfo{
    margin-top: 15%;
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5rem; 
    font-size: 5rem;
    background: linear-gradient(to right,
    rgb(0, 0, 0),
    rgb(0, 85, 255)
    );
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width:1285px) {
    .sectionOne, .sectionTwo{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5rem;
        padding-left: 0;
    }
    .sectionOne{
        height: 180vh;
    }
    .sectionOne .classInfo{
        font-size: 25px;
    }
    .sectionTwo{
        height: 210vh;
        padding: 18% 5rem;
    }
    .girl{
        width: 20%;
        margin-right: 30%;
        padding-top: 5%;
     }
     .girl img{
         width: 300%;
     }
     .title{
        font-size: 5rem;
     }

     .titleTwo{
        position: absolute;
        top: 190%;
        left: 50%;
        transform: translateX(-50%); 
    }
    .projectOne,.projectTwo,.projectThree {
        background-color: rgba(5, 109, 246, 0.306);
        height: 200vh;
        border-radius: 5rem;
        padding: 3rem;
        font-size: 20px;
        margin: 10px;
        width: fit-content;
    }
    .projectThree .classPThree button, .projectOne .classPOne button,
    .projectTwo .classPTwo button{
        left: 30rem;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top:  0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    } 
    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius:  0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

@media screen and (max-width: 992px) {
    .sectionOne, .sectionTwo{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sectionOne .classInfo{
        font-size: 20px;
    }
    .classInfo button{
        margin-top: 10%;
        width: 40%;
        padding: 15px;
    }
    .projectThree .classPThree button, .projectOne .classPOne button,
    .projectTwo .classPTwo button{
        left: 20rem;

    }
    .sectionOne{
        height: 105%;
    }
    .sectionTwo{
        height: 220%;
        padding: 24% 5rem;
    }
    .girl{
        width: 20%;
        margin-right: 25%;
        padding-top: 5%;
     }
     .girl img{
         width: 500%;
     }
     .title{
        font-size: 4rem;
     }
     .titleTwo{
        font-size: 2rem;
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translateX(-50%); 
    }
    .projectOne,.projectTwo,.projectThree {
        height: 120vh;
        border-radius: 5rem;
        padding: 3rem;
        font-size: 15px;
        margin: 10px;
        margin-top: 35px;
        width: fit-content;
    }  
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top:  0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    } 
    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius:  0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

@media screen and (max-width: 768px) {
    .sectionOne, .sectionTwo{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sectionOne .classInfo{
        font-size: 20px;
    }
    .classInfo button{
        margin-top: 10%;
        width: 40%;
        padding: 15px;
    }
    .projectThree .classPThree button, .projectOne .classPOne button,
    .projectTwo .classPTwo button{
        left: 11rem;

    }
    .sectionOne{
        height: 105%;
    }
    .sectionTwo{
        height: 220%;
        padding: 24% 5rem;
    }
    .girl{
        width: 20%;
        margin-right: 25%;
        padding-top: 5%;
     }
     .girl img{
         width: 300%;
     }
     .title{
        font-size: 4rem;
     }
     .titleTwo{
        font-size: 2rem;
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translateX(-50%); 
    }
    .projectOne,.projectTwo,.projectThree {
        height: 75vh;
        border-radius: 5rem;
        padding: 3rem;
        font-size: 15px;
        margin: 10px;
        margin-top: 35px;
        width: fit-content;
    }  
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top:  0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    } 
    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius:  0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

@media screen and (max-width: 576px) {
    .sectionOne, .sectionTwo{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sectionOne .classInfo{
        font-size: 20px;
    }
    .classInfo button{
        margin-top: 10%;
        width: 40%;
        padding: 15px;
    }
    .projectThree .classPThree button, .projectOne .classPOne button,
    .projectTwo .classPTwo button{
        left: 11rem;

    }
    .sectionOne{
        height: 105%;
    }
    .sectionTwo{
        height: 220%;
        padding: 24% 5rem;
    }
    .girl{
        width: 20%;
        margin-right: 25%;
        padding-top: 5%;
     }
     .girl img{
         width: 300%;
     }
     .title{
        font-size: 4rem;
     }
     .titleTwo{
        font-size: 2rem;
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translateX(-50%); 
    }
    .projectOne,.projectTwo,.projectThree {
        height: 120vh;
        border-radius: 5rem;
        padding: 3rem;
        font-size: 15px;
        margin: 10px;
        margin-top: 35px;
        width: fit-content;
    }  
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top:  0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    } 
    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius:  0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }

}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0.7);
}
.copyright {
    font-size: 1.6rem;
    color: var(--text-color);
}
.footer-iconTop {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a i:hover {
    color: var(--bg-color);
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--main-color);
}
.footer-iconTop:hover {
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
    transform: scale(1.3)translate(-5px);
}
.footer-iconTop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop:hover::before {
    width: 100%;
}
